name: swipeplan
description: A new Flutter project.

environment:
  sdk: '>=3.7.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.6
  supabase_flutter: ^2.6.0
  provider: ^6.1.2
  flutter_dotenv: ^5.1.0
  clerk_flutter: ^0.0.13-beta
  clerk_auth: ^0.0.13-beta
  path_provider: ^2.1.5
  uuid: ^4.5.1
  google_fonts: ^6.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
